<aside class="columnaIzquierda" role="complementary">
	<div class="wrapper">
		<div class="design-selection" id="design-selection">
			<h3 class="select">ACCIONES</h3>
			<nav role="navigation">
				<ul>

					<li>
						<a id="agregar-partido" href="<%= url(:partidos, :new) %>" class="ver-mas"> Agregar Partido</a>
					</li>							
				</ul>
			</nav>
				
		</div>

	</div>
</aside>
